
/* Top third of page */
section.container {
  height:8em;
  width:auto;
}

section.box {
  width: 50%;
  float: left;
  background-color:grey;
}



.brand_strong {
  box-sizing: border-box;
  height: 45px;
  padding-top: 30px;
  padding-left:10px;
  margin: 0;
  font-weight: bold;
  font-size: 50px;
}


.brand_small {
  box-sizing: border-box;
  float:left;
  padding: 15px;
  font-size: 20px;
  box-sizing: border-box;
}

/* Navigation bar setup */

ul {
    float:right;
    list-style-type: none;
    margin: 0;
    width:auto;
    padding:45px;
    background-color: grey;
}


li {
    float: left;
    padding-left: 10px;
    margin: 7px

}

li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
}

/*large image area definition */

img.large {
  float:right;
  padding: 10px 60px 10px 45px;
  width: 60%;
  height: 350px;
  box-sizing:border-box;
  border-color: white;
  background-color: white;
}

.image_remaining{
  box-sizing: border-box;
  float:left;
  padding-bottom:10px;
  width:40%;
  height:350px;
  background-color: white;
}

img.small {
  width:80px;
  height:100px;
  float: left;
  border: 1px solid #000000;
  padding: 5px;
  margin: 5px;
}



.article_container {
  width:100em;
  border:white;
  clear:both;
}

.article_header {
  font-variant: small-caps;
  font-size: 20px;
  font-weight:bold;
  padding:0;
  margin:0;
}

.article1 {
  box-sizing: border-box;
  font-size: 16px;
  width:25%;
  float: left;
  margin: 1em 1em 1em 3em;
  padding: .05em;
  background-color: #f1f1f1;
}

.read_more {
  display: block;
  text-decoration: none;
  font-weight: bold;
  margin-top: 30px;
  float: right;
  color: orange;
}

footer.c_container {
  height:10em;
  width:auto;
  border: 6em solid grey;
  clear:both;
}

footer.copyright_box {
  box-sizing:border-box;
  background-color: grey;
  font-size: 12px;
  float: left;
  width: 100%;
  padding:10px;
  color:#f8f8f8;
}
